.Modal {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30rem;
  width: 100%;
  background-color: rgba(0, 255, 255, 0);
}

.Modal input {
  padding: 1rem;
  height: 50px;
  width: 70%;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}