.TodoItem {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 1rem 0rem;
  padding: 1.5rem;
  font-weight: 800;
  font-size: 20px;
  color: #4d4d4d;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
}

.TodoItem-complete {
  background-color: #5FB4BF;
  border: none;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.267);
  color: white;
}

.TodoItem-complete span{
  text-decoration: line-through;
  opacity: .8;
}

.TodoItem img {
  width: 35px;
  margin-right: 1rem;
}

.TodoItem .index {
  margin-right: .5rem;
}

.TodoItem .notComplete {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-right: 1rem;
}

.TodoItem .title {
  display: flex;
}

.TodoItem .deleteBtn {
  display: none;
}

.TodoItem:hover .deleteBtn {
  display: inline;
}