.TodoItem {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
}

.TodoItem-complete {
  text-decoration: line-through;
  opacity: .3;
}