h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  letter-spacing: .5rem;
}

p {
    font-size:36px;
    color: rgba(0, 0, 0, 0.447);
    width: 100%;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

.body {
  position: relative;
}

div.modal-open .container{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: .7;
}

.container {
  margin-top: 15vh;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.10307082688877345) 14%), #5FB4BF;
  padding: 3rem;
  margin-bottom: 15vh;
  box-shadow: 1px 1px 15px rgb(148, 148, 148);
  min-width: 600px;
  min-height: 850px;
}

.App {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App .input{
  position: absolute;
  bottom: 3rem;
  width: 64px;
  margin-top: 3rem;
  margin-bottom: 0rem;
  box-shadow: 0px 0px 15px #FFF;
  border-radius:50%;
}

.App .section {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
}

.App .section .span {
  margin: 1rem 0rem 0rem 0rem;
  font-weight: 800;
  font-size: 16px;
  margin-left: .8rem;
  letter-spacing: .17rem;
}

.App .finished {
  margin-top: 3rem;
}






