h1 {
  font-size: 100px;
  color: rgba(154, 0, 0, 0.159);
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

p {
    font-size:36px;
    color: rgba(0, 0, 0, 0.447);
    width: 100%;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

.App {
  text-align: center;
  box-shadow: 1px 1px 3px rgb(186, 186, 186);
  margin-top: 5vh;
}

.App .input {
  display: flex;
  box-shadow: 0px 1px 3px rgb(186, 186, 186);
  background-color: #f0f0f025;
}

.App .input input {
  padding: 0;
  border: none;
  outline: none;
  height: 65px;
  font-size: 24px;
  text-decoration: initial;
  width: 100%;
  background-color: #f0f0f000;
}

.App .input input::placeholder {
  color: rgb(216, 216, 216);
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

.App .input img {
  width: 20px;
  margin: 0rem 1rem 0rem 2rem;
}
