body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  font-weight: 300;
  background-color: #DBF0F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
